* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #FFFFFF;
  font-family: Inter, sans-serif;
  height: 100%;
}

.App{
  width: 550px;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  height: 55px;
  gap: 50px;
}
.nav__logo{
  width: 24px;
  height: 24px;
}
.nav__title{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}
/*Card*/

.card{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 45px 40px 0 40px;

}

.card__image{
  max-width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
  /*background-image: url("https://source.unsplash.com/WLxQvbMyfas");*/
}

/*.card__info{*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

.card__upperbox{
  display: flex;
  align-items: center;
}
.card__country{
  margin-left: 4px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card__link{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}
.card__title{
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}
.card__dates{
  margin-top: 20px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2B283A;
}
.card__about{
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #2B283A;
}